<div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2>Location Tracking</h2>
            <p>While we will never tell anyone about your location or login status, you can disable the tracking here.</p>
            <p *ngIf="account">Tracking is currently <b style="color: green" *ngIf="account.trackingStatus === 'ENABLED'">enabled</b><b style="color: red" *ngIf="account.trackingStatus === 'DISABLED'">disabled</b>.</p>

            <div class="alert alert-success" *ngIf="submitted && success">
                <strong>Settings saved!</strong>
            </div>

            <div class="alert alert-danger" *ngIf="submitted && !success">
                <strong>Update failed. Please submit a ticket if the issue persists.</strong>
            </div>

            <button *ngIf="account.trackingStatus === 'ENABLED'" type="button" class="btn btn-danger" (click)="changeTracking('DISABLED')">Disable</button>
            <button *ngIf="account.trackingStatus === 'DISABLED'" type="button" class="btn btn-success" (click)="changeTracking('ENABLED')">Enable</button>
        </div>
    </div>
</div>
