<style>
    .active {
        color : green;
    }
    .inactive {
        color : red;
    }
</style>
<div class="row">
    <div class="col-md-6">

        <div *ngIf="!isAuthenticated()" class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Got an alt to spare?</h1>
                <p>Let's make ratting bots worthless, by camping systems that are likely to be inhabited by bots.</p>
                <p>Based on the ideas of <a href="https://www.reddit.com/r/Eve/comments/7i5lih/prothean_alliance_are_blatantly_botting_and/dqwcl5x/" target="_blank">u/rich000</a> and <a href="http://evebotdetector.azurewebsites.net/" target="_blank">evebotdetector</a> this app provides recommendations in which systems you can camp or hunt, and let you compete with other contributors.
                   Place an alt somewhere, let us track your location and get space fame points! Don't worry: You can disable the tracking
                   or remove all of your data at any time.</p>
                <p>With the data that you collect we will eventually be able to directly report bots to CCP.</p>
                <p>Thank you for your help in making New Eden a better place!</p>
                <h2>Hunters, you too!</h2>
                <p>Did you know that camping could get your alt on whitelists of botters? Far easier than infiltrating alliances!</p>
                <p>Don't care? Scroll down and put the recommendations to use.</p>
                <h2>Please Sign In</h2>
                <a class="nav-link" href="{{ssoUrl}}">
                    <img src="https://images.contentful.com/idjq7aai9ylm/12vrPsIMBQi28QwCGOAqGk/33234da7672c6b0cdca394fc8e0b1c2b/EVE_SSO_Login_Buttons_Small_Black.png?w=195&h=30"/>
                </a>
            </div>
        </div>
        <div *ngIf="account && isAuthenticated()">
            <h2>Your Status</h2>
            <p>
                Tracking:
                <span *ngIf="account.trackingStatus === 'ENABLED'" [ngClass]="status">{{status}}</span> <span *ngIf="isOwnSov">(you're in friendly space)</span>
                <span *ngIf="account.trackingStatus === 'DISABLED'" class="inactive">disabled</span>
                <span *ngIf="account.trackingStatus === 'ENABLED' && status === 'active'">({{system}})</span>
            </p>
            <div class="alert alert-warning" *ngIf="account.trackingStatus === 'DISABLED'">Please visit Account > Tracking to enable tracking.</div>
            <div class="alert alert-warning" *ngIf="account.trackingStatus === 'ENABLED' && status === 'inactive'">Please get into a neutral or hostile nullsec system to activate the tracking. Friendly space doesn't count.</div>
            <p *ngIf="rankInSystem">You are the {{rankInSystem}}. in system. <span *ngIf="rankInSystem > 1 && rankInSystem <= 4">You're getting {{30*(rankInSystem-1)}}% less points.</span><b *ngIf="rankInSystem > 4">You're not getting any points here, please choose another system!</b></p>
            <p *ngIf="totalMinutes">You have been preventing the botting menace for <span *ngIf="totalMinutes < 60">{{totalMinutes}} minutes</span><span *ngIf="totalMinutes >= 60">a total of <b>{{totalMinutes / 60 | number:'1.0-1'}}</b> hours</span>.</p>
        </div>
    </div>
    <div class="col-md-6">
        <h2>Leaderboard (7 days)</h2>
        <p *ngIf="account && myScore">Your score: {{myScore}}</p>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th class="text-left">Character</th>
                    <th class="text-left">Score</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let character of highscore">
                    <td class="text-left">{{character.name}}</td>
                    <td class="text-left">{{character.score}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div *ngIf="candidates">
    <h2>Botting Candidates</h2>
    <p>This list does not try to prove systems with bots, but provides candidates for you to camp and provide further information. The rating
    is produced by running the NPC kills through <a href="https://github.com/dronesdronesdrones/botsoffline/blob/ba1138cfb18c8123c7560aa4d012056417e67578/src/main/java/com/botsoffline/eve/service/BottingScoreService.java#L58-L63">a score algorithm</a>. The higher the score, the higher the probability of bots. This list will
       contain false positives.</p>
    <p>Do you have ideas on how to improve the rating algorithm? Let us know by creating an <a href="https://github.com/dronesdronesdrones/botsoffline/issues">issue</a>.</p>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th class="text-left">System</th>
                <th class="text-left">Region</th>
                <th class="text-left">Rating</th>
                <th class="text-left">Active Characters</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let entry of candidates">
                <td class="text-left"><a href="http://evemaps.dotlan.net/system/{{entry.systemName}}#npc24">{{entry.systemName}}</a></td>
                <td class="text-left">{{entry.regionName}}</td>
                <td class="text-left">{{entry.score}}</td>
                <td class="text-left"><span *ngIf="entry.activeCount > 0">{{entry.activeCount}}</span><span *ngIf="entry.activeCount == 0" style="color: #ccc">none</span></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
