<div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2>Delete Account</h2>
            <p>Deleting your account will remove all details we have about you, including SSO tokens and your score. Location data will be anonymised.</p>
            <p><b>This action cannot be undone!</b></p>
            <p *ngIf="account">Enter your character name '{{account.login}}' to continue.</p>
            <div *ngIf="account" class="input-group">
                <input type="text" class="form-control" id="name"
                       required pattern="{{account.login}}"
                       [(ngModel)]="characterNameConfirm" name="name"
                       #name="ngModel">
                <button type="button" [disabled]="!name.valid" class="btn btn-danger" (click)="deleteAccount()">Delete</button>
            </div>

            <div class="alert alert-danger" *ngIf="submitted && !success">
                <strong>Delete failed. Please submit a ticket if the issue persists.</strong>
            </div>
        </div>
    </div>
</div>
